*{
  margin: 0px;
  padding: 0px;
}

/* Start of NavMenu CSS */
.pageWrapper{
  width: 100%;
  height: auto;
}
.navSection{
  width: 100%;
  height: auto;
  margin: 0px 0px 90px 0px;
}
.navSection .logo{
  width: 30%;
}
.navSection .logo img{
  width: 60%;
  height: 80px;
}
.pageWrapper .navSection nav.navMenu{
  width: 100%;
  background-color: darkgreen;
}
.pageWrapper .navSection nav.navMenu ul{
  margin-left: auto;
}
.pageWrapper .navSection nav.navMenu ul li{
  margin-left: 15px;
}
.pageWrapper .navSection nav.navMenu ul li a{
  color: white;
  font-weight: 600;
}
/* End of NavMenu CSS */

/* Carasoul Starts */
.carouselImage{
  width: 100%;
}
#carouselExampleIndicators{
  padding: 0px;
}
.carousel-inner{
  height: 520px;
}
.images{
  height: 520px;
  width: 100%;
}
/*  Carasoul Ends */
.containerColor{
  background: cadetblue;
}
.discription{
  padding: 20px;
}
.discription .box .textdiv h3{
  font-family: monospace;
  font-weight: 600;
  color: white;
}
.discription .box p{
  color: white;
  font-family: cursive;
  font-size: 19px;
}
.no-gutters{
  margin-left: 0px;
  margin-right: 0px;
}
.no-padding{
  padding: 0px;
  display: flex;
}

/* Start of Section 1 */
.section1{
  width: 100%;
  padding-top: 30px;
  background: currentColor;
}
.section1Row a{
  color: white;
  font-weight: 600;
}
.section1Row a:hover{
  text-decoration: none;
  color: white;
}
.section1Row .box:hover{
  background: rgba(2,150,66,0.95);
}
.section1Row .box{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 2.7;
}
.section1Row .box p{
  display: contents;
  font-size: 20px;
}
/* End of Section 1 */

/* Section1 Part 2 */
.section2Row{
  margin-top: 30px;
}
.section2Row .card{
  width: 99%;
  height: auto;
  background: teal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}
.section2Row .rateCalculator .currency-calc{
  background: black;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
}
.section2Row .rateCalculator .currency-calc .formDesign{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.section2Row .rateCalculator .currency-calc .formDesign .sFee{
  display: flex;
}
.section2Row .card p.title{
  font-family: monospace;
    font-weight: 600;
    font-size: 25px;
    background: chocolate;
    color: floralwhite;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.section3Row .box1{
  width: 100%;
}
.section3Row .box1 .part1{
  background: seagreen;
  height: 400px;
}
.section3Row .box2{
  width: 100%;
}
.section3Row .box2 .part2{
  background: darkturquoise;
  height: 400px;
}
.row.section3Row {
  width: 100%;
  margin: 30px 0px 0px 0px;
}
/* End of section 1 part 2 */
hr.separationLine{
    border: 3px solid #8d703b;
    margin: 0px;
}
/* Gallery */
hr.line{
  width: 17%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #8d703b;
  margin-top: 10px;
  margin-bottom: 2px;
}
hr.smallline{
  width: 12%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #8d703b;
  margin-bottom: 40px;
  margin-top: 1px;
}
.section4Container{
  width: 100%;
  background: floralwhite;
  padding-top: 30px;
  float: left;
}
.section4Container h1.titleStyle{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  font-family: "Playfair Display", Arial, serif;
}
.section4{
  width: 100%;
  height: auto;
  float: left;
}
.section4 .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  float: left;
}
.section4 .card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*  */

/* Start of Footer */
/* Footer Section */
.section5Container{
  width: 100%;
  background: #232323;
  float: left;
}
.section5Container .footer{
  margin-top: 70px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}
.section5Container .footer .part1{
  height: auto;
  float: left;
  margin-top: 25px;
}

.section5Container .footer .part1 .title h2.titleStyle{
  color: white;
  font-size: 25px;
  font-family: "Playfair Display", Arial, serif;
}
.section5Container .footer .part1 .title p.titleStyle{
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  margin-top: 50px;
}

/* Icons */
.section5Container .footer .part1 .title .icons{
  margin-top: 60px;
}
.section5Container .footer .part1 .title .icons li{
  border: 1px solid;
  border-radius: 48px;
  width: 45px;
  height: 45px;
  display: -webkit-inline-box;
  right: 91%;
  background: #383737;
  list-style-type: none;
  margin-right: 12px;
  cursor: pointer;
  color: white;
}
.section5Container .footer .part1 .title .icons li.twitter:hover{
  background: deepskyblue;
}
.section5Container .footer .part1 .title .icons li.facebook:hover{
  background: cornflowerblue;
}
.section5Container .footer .part1 .title .icons li.instagram:hover{
  background: darkmagenta;
}
.section5Container .footer .part1 .title li a{
  color: white;
  text-decoration: none;
}
.section5Container .copyright{
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  float: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section5Container .copyright p a{
  color: deepskyblue;
  text-decoration: none;
}
/* End of Footer */
