*{
  margin: 0px;
  padding: 0px;
}
/* Background Image & Slogan */
.roomBackImage{
  width: 100%;
  height: 230px;
  background: url('../image/bg_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.roomBackImage .slogan{
  padding-top: 70px;
  color: white;
  text-align: center;
}
.roomBackImage .slogan h1{
  font-size: 40px;
  font-family: "Playfair Display", Arial, serif;
}
.roomBackImage .slogan p{
  font-size: 17px;
}
/* End of Background Image & Slogan */

/* Start of NavMenu CSS */
.pageWrapper{
  width: 100%;
  height: auto;
}
.navSection{
  width: 100%;
  height: auto;
  margin: 0px 0px 111px 0px;
}
.navSection .logo{
  width: 30%;
}
.navSection .logo img{
  width: 32%;
  height: 95px;
}
#active{
  background: darkcyan;
}
.pageWrapper .navSection nav.navMenu{
  width: 100%;
  background-color: darkslategrey;
}
.pageWrapper .navSection nav.navMenu ul{
  margin-left: auto;
}
.pageWrapper .navSection nav.navMenu ul li{
  margin-left: 15px;
}
.pageWrapper .navSection nav.navMenu ul li a{
  color: white;
  font-weight: 600;
}
/* End of NavMenu CSS */

/* Carasoul Starts */
.carouselImage{
  width: 100%;
}
#carouselExampleIndicators{
  padding: 0px;
}
.carousel-inner{
  height: 520px;
}
.images{
  height: 520px;
  width: 100%;
}
/*  Carasoul Ends */
.containerColor{
  background: cadetblue;
}
.no-gutters{
  margin-left: 0px;
  margin-right: 0px;
}
.no-padding{
  padding: 0px;
  display: flex;
}
/* servesLine */
.servicesLine{
  width: 100%;
  height: auto;
  margin-left: 7%;
  margin-right: 7%;
  display: inline-flex;
  margin-bottom: 70px;
}

.servicesLine .box,.servicesLine .box{
  height: auto;
  margin-top: 10px;
  background: white;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.servicesLine .box img,.servicesLine .box1 img{
  width: 100%;
  height: 190px;
}
.servicesLine .box p.serviceCap,.servicesLine .box1 p.serviceCap{
  font-size: 20px;
  text-align: center;
  background: cadetblue;
  color: white;
  transition: 0.3s;
  height: 50px;
  line-height: 2.3;
  margin-bottom: 0px;
}
.servicesLine .box:hover,.servicesLine .box1:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* End Of Serveces Line */

hr.separationLine{
    border: 3px solid #8d703b;
    margin: 0px;
}
/* Gallery */
hr.line{
  width: 17%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #8d703b;
  margin-top: 10px;
  margin-bottom: 2px;
}
hr.smallline{
  width: 12%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #8d703b;
  margin-bottom: 40px;
  margin-top: 1px;
}
.section4Container{
  width: 100%;
  background: floralwhite;
  padding-top: 30px;
  float: left;
}
.section4Container h1.titleStyle{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  font-family: "Playfair Display", Arial, serif;
}
.section4{
  width: 100%;
  height: auto;
  float: left;
}
.section4 .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.section4 .card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*  */

/* Start of Footer */
/* Footer Section */
.section5Container{
  width: 100%;
  background: #232323;
  float: left;
}
.section5Container .footer{
  margin-top: 70px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}
.section5Container .footer .part1{
  height: auto;
  float: left;
  margin-top: 25px;
}

.section5Container .footer .part1 .title h2.titleStyle{
  color: white;
  font-size: 25px;
  font-family: "Playfair Display", Arial, serif;
}
.section5Container .footer .part1 .title p.titleStyle{
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  margin-top: 50px;
}

/* Icons */
.section5Container .footer .part1 .title .icons{
  margin-top: 60px;
}
.section5Container .footer .part1 .title .icons li{
  border: 1px solid;
  border-radius: 48px;
  width: 45px;
  height: 45px;
  display: -webkit-inline-box;
  right: 91%;
  background: #383737;
  list-style-type: none;
  margin-right: 12px;
  cursor: pointer;
  color: white;
}
.section5Container .footer .part1 .title .icons li.twitter:hover{
  background: deepskyblue;
}
.section5Container .footer .part1 .title .icons li.facebook:hover{
  background: cornflowerblue;
}
.section5Container .footer .part1 .title .icons li.instagram:hover{
  background: darkmagenta;
}
.section5Container .footer .part1 .title li a{
  color: white;
  text-decoration: none;
}
.section5Container .copyright{
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  float: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section5Container .copyright p a{
  color: deepskyblue;
  text-decoration: none;
}
/* End of Footer */


/* Team.html */
.team-boxed {
    color: #313437;
    background-color: currentcolor;
}

.team-boxed p {
    color: #7d8285;
}

.team-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .team-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.team-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: "Playfair Display", Arial, serif;
}

/* Hr Line */
  hr.longLine{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #8d703b;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  hr.shortLine{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #8d703b;
    margin-bottom: 40px;
    margin-top: 2px;
  }
/* End */

.team-boxed .intro p {
    margin-bottom: 0;
}

.team-boxed .people {
    padding: 50px 0;
}

.team-boxed .item {
    text-align: center;
}

.team-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.team-boxed .item .box:hover{
  box-shadow: 0 8px 16px 0 rgb(55 78 78);
}

.team-boxed .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
    font-family: 'Simple Brush Script', sans-serif;

}

.team-boxed .item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: lightslategrey;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Simple Brush Script', sans-serif;
}

.team-boxed .item .description {
    font-size: 15px;
}

.team-boxed .item img {
    max-width: 160px;
    max-height: 150px;
}

.team-boxed .social {
    font-size: 18px;
    color: #a2a8ae;
}

.team-boxed .social:hover {
    font-size: 18px;
    color: #f80808;
}

.team-boxed .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
    padding: 6px;
}

.team-boxed .social a:hover {
    opacity: 1;
}

.fa {
    font-size: 28px;
}

.intro h1 {
    color: #fff;
}

.intro {
    margin-top: 23px;
}

.box img {
    cursor: pointer;
    width: 9em;
}
/* End of Team.html */

/* Start of About.html */
/* Section 1 */
.aboutSection1{
  width: 100%;
  height: auto;
  display: inline-flex;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: gainsboro;
}
.abpoutSection1 .part1{
  width: 50%;
  height: auto;
  margin-top: 50px;
}
.aboutSection1 .part1 img{
  width: 80%;
  height: 700px;
  margin-left: 10%;
}
.aboutSection1 .part2{
  width: 50%;
  height: auto;
  text-align: justify;
  padding-left: 3%;
  padding-right: 7%;
  margin-top: 40px;
}
.aboutSection1 .part2 span .heading{
  margin-top: 40px;
  margin-bottom: 20px;
}
.aboutSection1 .part2 span h1{
  margin-bottom: 60px;
  font-family: "Playfair Display", Arial, serif;
}
.aboutSection1 .part2 span p.aboutHotel{
  color: gray;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
}
/* End of about.html */

/* Restaurant.html */
/* SideBar */
.menuItems .sidebar {
  margin: 0px;
  padding: 0px;
  width: 13%;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

.menuItems .sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.menuItems .sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.menuItems .sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
@media screen and (max-width: 500px) {
  .menuItems .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
@media print, screen and (max-width: 768px) {
  .menuItems .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: none;
  }
}

/* End of Sidebar */
/* ITEMS */
.restaurantContainer h1.titleStyle{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    font-family: "Playfair Display", Arial, serif;
}
/* End of Items */

/* End of RESTAURANT Page */
